$fontFamily: "Poppins";
$color: oklch(0% 0 0);

$brown: oklch(72.18% 0.064 75.37);
$blue: oklch(33.52% 0.066 232.51);
$salat: oklch(96.74% 0.013 106.64);

$white: oklch(100% 0 0);
$black: oklch(0% 0 0);
