.about {
   @media (min-width:  toEm($tablet)) {
      @include adaptiveValue(min-height, 756, 200);
      
   };
   @media (min-width:  toEm($tablet)) {
      display: flex;
   }
   // .about__content
   &__content {
      flex-basis: 39.27%;
      background-color: $blue;
      color: $white;
      position: relative;
      @include adaptiveValueMod(padding-left, 70, 30, $maxWidthLayout, $mobile);
      padding-right: toRem(15);
      padding-bottom: toRem(15);
      &::before {
         content: "";
         display: block;
         height: 100%;
         @include adaptiveValueMod(width, 56, 20, $maxWidthLayout, $mobile);
         background-color: $brown;
         position: absolute;
         top: 0;
         left: 0;
      }
   }
   &__body {
      @media (min-width:  toEm($tablet)) {
         max-width: toRem(436);
      }
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      @media (min-width:  toEm($mobileSmall)) {
         align-items: flex-start;
      }
   }
   // .about__text
   &__text {
      & > *:not(:last-child) {
         @include adaptiveValue(margin-bottom, 26, 16);
      }
      @include adaptiveValue(margin-bottom, 72, 20);
      @include adaptiveValueMod(padding-top, 126, 20, $maxWidthLayout, $tablet);
   }
   // .about__link
   &__link {
      justify-content: center;
      @media (max-width:  toEm($tablet)) {
         width: 100%;
      }
   }
   // .about__img
   &__img {
      @media (min-width: toEm($tablet)) {
         display: block;
      };
      display: none;
      @media (min-width:  toEm($tablet)) {
         flex-basis: 60.73%;
      }
      @media (max-width:  toEm($tablet)) {
         min-height: toRem(300);
         @include adaptiveValueMod(min-height, 300, 150, $tablet, $mobile);
      }
   }
}
